.subjects-form {
  display: grid;
  grid-template: "a a  a" " b b c " 1fr;
  grid-template-columns: 1fr 1fr;
}
.number-matiere {
  grid-area: a;
}
.subjects {
  grid-area: b;
}
.form {
  grid-area: c;
}
@media only screen and (max-width: 800px) {
  .subjects-form {
    display: flex;
    flex-direction: column;
  }
}
