* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}
body {
  background-color: #eff4fb;
  color: #000c83;
  padding: 3.7rem 6rem;
  position: relative;
  /* text-transform: capitalize; */
}
