.form {
  padding-top: 4rem;
  form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem 3.2rem;
    border-radius: 1rem;

    gap: 2.3rem;
    max-width: 36.5rem;
    margin: 0 auto;
    label {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 1.6rem;
      margin-bottom: 1rem;
    }
    #name-subject {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
      font-size: 1.8rem;
      padding: 2rem;
      border-radius: 1rem;
    }
    #desc {
      padding: 1rem 2rem;
      font-weight: 600;
      font-size: 1.8rem;
      border-radius: 1rem;
      font-family: monospace;
    }
    #name-subject,
    #desc {
      background-color: #f0f5ff;
      border: none;

      outline: none;
      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #190c83;
        opacity: 1; /* Firefox */
      }
      &.false::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #cb3939;
        opacity: 1; /* Firefox */
        background-color: #fde6e6;
      }
      &.false {
        background-color: #fde6e6;
      }
    }
    button {
      all: unset;
      background: #190c83;
      color: white;
      text-align: center;
      padding: 1.7rem 0;
      font-family: arial;
      font-weight: 600;
      font-size: 2rem;
      border-radius: 1rem;
    }
  }
}
