.modal {
  display: none;
  &.active {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(83, 91, 127, 0.85);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-popup {
      background-color: #fff;
      padding: 2.4rem 3rem;
      display: flex;
      flex-direction: column;
      gap: 2.2rem;
      max-width: 86.5rem;

      border-radius: 1rem;

      .modal-title {
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 3.5rem;
        text-transform: capitalize;
      }
      .modal-description {
        font-weight: 400;
        font-size: 2.2rem;
        width: 100%;
        line-height: 1.2em;
      }
      .button {
        display: flex;
        gap: 2rem;
      }
      button {
        all: unset;
        background-color: red;
        font-weight: 600;
        font-size: 2rem;
        color: white;
        padding: 1.7rem 7.4rem;
        border-radius: 1rem;
        &.delete {
          background-color: #f85c60;
        }
        &.cancel {
          background-color: #190c83;
        }
      }
    }
  }
}
