.number-matiere {
  font-weight: 400;
  font-size: 2.4rem;
}
.subjects {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 4rem;
  .subject {
    padding: 2.4rem 3rem;
    background-color: #fff;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 31rem;
    height: 15.5rem;
    flex-grow: 0;
    .subject-title {
      font-weight: 700;
      font-size: 4.8rem;
      line-height: 3.5rem;
      text-transform: capitalize;
    }
    .subject-description {
      font-weight: 400;
      font-size: 1.6rem;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      line-height: 1.2em;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    &:hover {
      color: white;
      background-color: #43b6ff;
    }
  }
}
@media only screen and (max-width: 700px) {
  .subjects {
    // padding: 4rem 4rem 0 0;
    .subject {
      flex-grow: 1;
    }
  }
}
